* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Stolzl Book";
  src: url("../assets/fonts/Stolzl-Book.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Stolzl Book Bold";
  src: local("Stolzl Book Bold"), local("Stolzl-Book-bold"),
    url("../assets/fonts/Stolzl-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"),
    url("../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
